@import "tailwindcss";

body {
  background-color: #f2f4f7;
}
.swiper-button-prev,
.swiper-button-next {
  color: #8b5e3c !important;
  width: 30px !important;
  height: 30px !important;
  z-index: 50 !important;
}
@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #8b5e3c;
}
::selection {
  background: #8b5e3c;
  color: #fff;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-once {
  animation: shake 1s ease-in-out 3s 2;
  /* animation-delay: 3s; */
}
